@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}
/* шрифт шапки */
.page-header {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
}

/* Ссылки в шапке */
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}
/* вставление главной картинки на странице */
.main-index {
  background-image: url("../images/index-background.jpg");
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* Выравнивание текстов по центру */
.advantages-list {
  text-align: center;
}

/* Заголовки преимуществ */
.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

/* Текст с логотипами */
.advantages-name {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
/* Текст под логотипами */
.advantages-text2 {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}
/* Укажите предполагаемые даты поездки, и мы покажем вам лучшие предложения гостиниц в Седоне */
.search {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.information {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

/* заинтересовались */
.subscribe {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
}

/* Контактный телефон в подале сайта */
.contact-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}
/* ссылка в подвале */
.page-footer a {
  color: #000000;
}

/* Клавиша Главная в каталоге */
.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
}
/* каталог фильтр */
.catalog-products {
  color: #ffffff;
  background-color: #000000;
}
/* Инфраструктура и тип жилья */
.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}

/* Подронее и В избранное  */
.product-list .product-card-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Название карточки в каталоге */
.product-card-link {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

/* гостиница */
.product-card-hotel {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* цена гостиниц */
.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* рейтинг госиниц */
.product-card-raiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

/* загрузить еще */
.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.information-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.subscribe-catalog {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
}
