@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

/* Картинка или логотип в хедере */
.page-header-logo {
  width: 140px;
  margin-right: 30px;
}

/* блок навигации в хедере */
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
/* все ссылки в хедере */
.navigation-list {
  width: 530px;
  margin: 0;
  padding: 0;
}
/* поиск избранное в хедере */
.navigation-user {
  max-width: 250px;
  margin-left: auto;
}
/* вся соль страницы или сам сайт */
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}

/* шрифт шапки */
.page-header {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
}

/* Ссылки в шапке */
.navigation-link {
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}
/* вставление главной картинки на странице */
.main-index {
  background-image: url("../images/index-background.jpg");
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* Выравнивание текстов приемуществ по центру */
.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* Список бонусов */
.bonuses-list {
  display: flex;
  justify-content: space-between;
}

.bonuses-item {
  width: 400px;
}
/* общее на главной странице сайта из 5 преимуществ и двух фотокарточек */
.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 0;
}
/* Заголовки преимуществ */
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

/* Текст с логотипами */
.advantages-name {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
/* Текст под логотипами */
.advantages-text2 {
  font-size: 18px;
  line-height: 21px;
}

/* Кнопки */
.button {
  font: inherit;
}

.information {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

/* заинтересовались */
.subscribe {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
}

/* Контактный телефон в подале сайта */
.contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  width: 720px;
}
/* ссылка в подвале */
.page-footer a {
  color: #000000;
}

/* Клавиша Главная в каталоге */
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
}
/* каталог фильтр */
.catalog-filter {
  color: #ffffff;
  background-color: #000000;
  width: 1200px;
}
/* Инфраструктура и тип жилья */
.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}

/* Подронее и В избранное  */
.product-card-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* Название карточки в каталоге */
.product-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

/* гостиница */
.product-card-hotel {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* цена гостиниц */
.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* рейтинг госиниц */
.product-card-raiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

/* загрузить еще */
.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #000000;
  width: 620px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.information-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-transform: none;
}

.subscribe-catalog {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
}

/* Добавление сеток в подвал */
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

/* связь с нами или социальные сети */
.footer-social {
  width: 200px;
  margin-right: 61px;
}


/* ссылка на html академию */
.htmlacademy-link {
  max-width: 115px;
  margin-left: 53px;
}

/* добавление сеток */
html {
  height: 100%;
}

.product-list {
  width: 1056px;
}

.pagination {
  width: 1056px;
}

/* Результат поиска (НАЙДЕНО 38 ГОСТИНИЦ) */
.search-result {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 337px;
}

.subscribe {
  width: 800px;
  margin: 0 auto;
}

